JWT_REFRESH_SECRET_KEY=


JWT_ACCESS_SECRET_KEY=

MONGO_DB_URI=

PORT=3000
# This port should must match the port in nginx.conf and vite.config.js, otherwise connection will fail. and docker EXPOSE is just for documentation it is ok if it is different.

# NODE_ENV=production
NODE_ENV=development